configuration {
        location:0;
        yoffset:25;
        lines:15;
        modi:"run,ssh";
        width:25;
        sidebar-mode:true;
        run-command:"zsh -i -c '{cmd}'";
}

/* vim:ft=css
