<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="screen">

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body { 
  font-family: "Droid Serif", Helvetica, Arial, sans-serif;
  background-color:whitesmoke;
  line-height:1.7em
}

h1, h2, h3 {
  margin-top:.4em;
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color:#00004d;
}

h3 {
  color:royalblue;
  margin:0;
  padding:0;
}

a, a code {
  color:#336699;
  text-decoration:none;
}

em {
  color:#191970;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  margin:0;
  padding:.3em;
  font-weight:bold;
  text-align:left;
  border-bottom: 1px solid;
}

td {
  padding:.3em;
  margin:0;
  border-right: 1px solid;
  vertical-align:top;
}

td:last-child {
  border-right:0;
}


pre code {
  display: block;
  padding: 9.5px;
  line-height: 1;
  font-size: 0.8em;
  overflow:auto;
  width:auto;
  white-space: pre-wrap;
}

.remark-code,
.hljs-default .hljs {
            font:14px/1.2 "Courier New", Courier, monospace;
            background:none;
            border-radius:2px;
            border: 1px solid lightgray;
}

.remark-inline-code {
            background-color:#ecf2f9;
            border-radius:2px;
            font-size:17px;
            padding-left:2.8px;
            padding-right:2.8px;
            color:#0d1a26;
}
    </style>
  </head>
  <body>
    <textarea id="source">
<%= markdown %>
    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script type="text/javascript">
      var slideshow = remark.create();
    </script>
  </body>
</html>


