<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="screen">

.remark-slide-content {
        font:20px/1.3 times;
}

.remark-slide-content h1
{
        font-size: 32px;       
        border-bottom: 4px double lightgray;
}

.remark-slide-content h2 {
        font-size: 28px;
        border-bottom: 1px solid lightgray;
}

.remark-slide-content h3 {
        font-size: 24px;
}


.remark-code,
.hljs-default .hljs {
            font-size:14px;
            background:none;
            border: 1px solid lightgray;
}

.remark-inline-code {
            font-size:17px;
            border-radius:2px;
            background:lemonchiffon;
            padding:1.8px;
            color:darkslategray;
}

a{
        text-decoration:none;
        color:darkblue;
}

a:hover{
        border-bottom:1px solid
}

h1::before {
        content:"# "
}

h2::before {
        content:"## "
}

h3::before {
        content:"### "
}

h1::before,
h2::before,
h3::before {
        color:red
}

blockquote p::before {
  content:"> ";
  color:red;
}

blockquote {
  margin:0;
  padding-right:2px;
  padding-left:2px;
  font-size:20px;
  font-style:italic;
  color:gray;
}

ul {
        padding:0;
        list-style: none outside none;
}

ul > li::before {
        margin-right:1ch;
        content:"-";
        color:red;
}

ul ul {
        margin-left:2ch;
}

/*
 Table style
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
  padding: 6px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
}

table caption + thead tr:first-child th,
table colgroup + thead tr:first-child th,
table thead:first-child tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid black;
}

    </style>
  </head>
  <body>
    <textarea id="source">
<%= markdown %>
    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script type="text/javascript">
      var slideshow = remark.create();
    </script>
  </body>
</html>
