<!DOCTYPE html>
<html lang="en">
<head>
<title>$title$</title>
<meta charset="UTF-8">
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>
  <h1 id="title">$title$</h1>
  <p>
    $for(author)$
    $if(author.name)$
    $author.name$$if(author.affiliation)$ ($author.affiliation$)$endif$
    $else$
    $author$
    $endif$
    $endfor$
    <br/>
    $created$ $licence$ 
  </p>
<div id="table-of-content">
$toc$
</div>
$body$
</body>
</html>
