<style type="text/css">


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media (min-width: 700px) {
  body {
    max-width: 700px;
  }
}

@media print {
 h1 {page-break-before: always;}
}

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: "Droid Seurif","Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
  color:black;
  background-color:white;
  vertical-align:middle;
  margin:1em;
}

p, blockquote, pre, ul, ol {
  margin-bottom:0.7em;
  margin-top:0.7em;
}

strong { font-weight: bold; }
em { font-style: italic; }

ul,ol {
  padding-left:1em;
}
ul li { list-style-type:circle; }

#title {
  border:none;
  font-size:3em;
  line-height:1.2em;
  border-left: 1em solid lightgray; 
  border-bottom: 2px solid lightgray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom:0.5em;
  margin-top:0.5em;
  
}

h1 {
  font-size:2.4em;
  padding-left: .5em;
  margin-top:1.3em;
  padding-top:0.2em;
  border-left: 1em solid lightgray; 
  border-top: 1px solid lightgray; 
}


h2 {
  font-size:2em;
  padding-bottom:0.2em;
  border-bottom:1px solid lightgray; 
}

h3 { font-size:1.5em; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

blockquote {
  border-left: 1px solid #eeeeee;
}

blockquote p {
  font-weight: 300;
  line-height: 1.25;
}

blockquote strong {
  font-weight: 600;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a code {
  color: #428bca;
  background: none;
  font-size:.8em;
  padding:0;
}

h1 a { color:#000000; }
h2 a { color:#000000; }
h3 a { color:#000000; }
h4 a { color:#000000; }
h5 a { color:#000000; }
h6 a { color:#000000; }
h1 a { text-decoration:none; }
h2 a { text-decoration:none; }
h3 a { text-decoration:none; }
h4 a { text-decoration:none; }
h5 a { text-decoration:none; }
h6 a { text-decoration:none; }


code,
tt {
  font-family: "Ubuntu Mono", Consolas, "Liberation Mono", Courier, monospace;
  color:#006600;
  background:#F0FFF0;
  padding: 0.2em;
  margin: 0;
  font-size: 0.9em;
  border-radius: 3px; 
  white-space: nowrap;
}


pre {
  display: block;
  padding: 9.5px;
  line-height: 1;

  color: #333333;
  font-size: 0.9em;
  border-radius: 3px;
  border: 1px solid lightgray; 
  background-color: rgba(0,0,0,0.04);
  overflow:auto;
  width:auto;
  white-space: pre-wrap;
}

pre code {
  font-size: inherit;
  color: inherit;
  white-space: pre;
  background-color: transparent;
  border: 0;
}

th {
  text-align: left;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
  padding: 6px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 3px double black;
}

table caption + thead tr:first-child th,
table colgroup + thead tr:first-child th,
table thead:first-child tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid black;
}


#table-of-content { 
  margin-bottom:2em; 
  line-height:1em; 
  padding:0.5em;
  background-color: whitesmoke;
}
#table-of-content ul { 
  padding:0; 
  margin:0;
}
#table-of-content li { 
  list-style-type: none; 
  padding:0;
  margin: 0; 
}

#table-of-content li li { 
  padding-left:1em; 
  margin: 0; 
}
#table-of-content a { 
  text-decoration:none; 
} 
#table-of-content a:hover { 
  text-decoration:underline; 
}

table.sourceCode {
  margin: .5em 0 .5em 0;
  padding: 0; 
  border-radius: 3px;
  background-color: #f4f4f4;
  line-height: 100%; 
  width:100%;
}
table.sourceCode pre {
  background: none;
  border: none;
  margin: 0;
}
tr.sourceCode, 
td.sourceCode {
  margin: 0; 
  padding: 0; 
  vertical-align: baseline; 
  border: none; 
}

td.lineNumbers { 
  margin: 0; 
  padding: 0; 
  text-align: right; 
  border-top:none;
  border-right: 1px solid #cccccc; 
}
td.lineNumbers pre {
  color:#cccccc;
  margin: 0; 
  padding-left: 0; 
  padding-right:.2em;
}

code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #902000; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }

</style>
