<style type="text/css">

html {
  font-family: sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 700px) {
  body {
    max-width: 700px;
  }
}

p { margin: 0 0 10px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: 0.4em ;
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

blockquote {
  padding-top:0;
  padding-bottom:0;
  padding-left:1em;
  padding-right:1em;
  margin:0;
  border-left: 1px solid #eeeeee;
}

blockquote p {
  font-weight: 300;
  line-height: 1.25;
}

blockquote strong {
  font-weight: 600;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a code {
  color: #428bca;
  background: none;
  font-size:.8em;
  padding:0;
}

h1 a { color:#000000; }
h2 a { color:#000000; }
h3 a { color:#000000; }
h4 a { color:#000000; }
h5 a { color:#000000; }
h6 a { color:#000000; }
h1 a { text-decoration:none; }
h2 a { text-decoration:none; }
h3 a { text-decoration:none; }
h4 a { text-decoration:none; }
h5 a { text-decoration:none; }
h6 a { text-decoration:none; }

pre { white-space: pre-wrap; }

code, pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  color: #c7254e;
  font-size: 90%;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 90%;
  line-height: 1;
  color: #333333;
  border-radius: 3px;
  background-color: #f4f4f4;
  overflow:auto;
  width:auto;
}

.ascii-table pre {
  text-align: center;
  background-color: transparent;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre;
  background-color: transparent;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
}

th {
  text-align: left;
}

table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

table caption + thead tr:first-child th,
table colgroup + thead tr:first-child th,
table thead:first-child tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #dddddd;
}



#table-of-content { 
  margin-bottom:2em; 
  line-height:1em; 
  border-bottom:1px solid lightgray;
}
#table-of-content ul { 
  list-style-type: none; 
  padding:0; 
}
#table-of-content li { 
  padding:0;
  margin: 0; 
}

#table-of-content li li { 
  padding-left:1em; 
  margin: 0; 
}
#table-of-content a { 
  text-decoration:none; 
} 
#table-of-content a:hover { 
  text-decoration:underline; 
}




table.sourceCode {
  margin: .5em 0 .5em 0;
  padding: 0; 
  border-radius: 3px;
  background-color: #f4f4f4;
  line-height: 100%; 
  width:100%;
}
table.sourceCode pre {
  background: none;
  border: none;
  margin: 0;
}
tr.sourceCode, 
td.sourceCode {
  margin: 0; 
  padding: 0; 
  vertical-align: baseline; 
  border: none; 
}

td.lineNumbers { 
  margin: 0; 
  padding: 0; 
  text-align: right; 
  border-top:none;
  border-right: 1px solid #cccccc; 
}
td.lineNumbers pre {
  color:#cccccc;
  margin: 0; 
  padding-left: 0; 
  padding-right:.2em;
}

code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #902000; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }

</style>
