<style type="text/css">
body         { color:#444; line-height:1.5em; padding:1em; 
               margin:auto; max-width:42em;
               font-family: Palatino, Times,serif;
               background:#fefefe; }
   a         { color: #111; text-decoration:underline;}
   a:hover   { text-decoration:none; }
h1 a         { text-decoration:none; }
h2 a         { text-decoration:none; }
h3 a         { text-decoration:none; }
h4 a         { text-decoration:none; }
h5 a         { text-decoration:none; }
h6 a         { text-decoration:none; }
h1,h2,h3,
h4,h5,h6     { font-weight:normal;  color:#111;
               line-height:1em; }
h4,h5,h6     { font-weight:bold; }
h1           { font-size:2.5em; }
h2           { font-size:2em; }
h3           { font-size:1.5em; }
h4           { font-size:1.2em; }
h5           { font-size:1em; }
h6           { font-size:0.9em; }
p            { margin:1em 0; }
tt, code     { white-space: nowrap; font-size: .9em;
               color: #000; padding-bottom: 0;
               font-family: 'courier new', monospace; } 
pre          { font-size: .9em; display: block;
               padding: 1em; overflow: auto;
               border: 1px solid whitesmoke; 
               border-radius: 5px; line-height: 1em; }
pre code     { border: none; white-space:pre; 
               overflow:auto; }
#TOC         { padding-top:.1em; padding-bottom:.1em;
               margin-bottom:3em; background:#fbfbfb; 
               line-height:1em; border: 1px solid whitesmoke;
               border-radius: 5px; }
#TOC ul      { list-style-type: none; padding-left: 1em; }
#TOC li      { padding: 0; margin: 0; }
#TOC a       { color:#424242; text-decoration:none; } 
#TOC a:hover { text-decoration:underline; }

@media only screen and (min-width: 480px) {
  body{ font-size:15px; } }
@media print {
  * { 
    background: transparent !important; 
    color: black !important; 
    filter:none !important; 
    -ms-filter: none !important; }
  body { font-size:12pt; max-width:100%;}
  a, a:visited { text-decoration: underline; }
  hr { height: 1px; border:0; border-bottom:1px solid black; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page :left { margin: 15mm 20mm 15mm 10mm; }
  @page :right { margin: 15mm 10mm 15mm 20mm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h1 { page-break-before: always; }
  h2, h3 { page-break-after: avoid; }
}
</style>
